@charset "utf-8";

/* 전체 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
body {
  font-family: 'Jua', 'GangwonEduAll', 'BMJUA';
  background: #f5f5f5;
  color: #333;
}

/* 제목 */
h1 {
  text-align: center;
  margin: 30px 0;
}

/* 전체 감싸는 영역 */
.wrapper {
  width: 400px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* header */
header h2 {
  margin-bottom: 15px;
}

/* 입력 영역 */
.input_box {
  display: flex;
  gap: 10px;
}

#addValue {
  flex: 1;
  padding: 10px 130px 10px 10px;
  font-size: 14px;
}

#submit_btn {
  padding: 9px 12px;
  border: none;
  background: #7544c7;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

/* 리스트 영역 */
.list_box {
  margin-top: 20px;
}

.todo_list {
  list-style: none;
}

.todo_list li {
  /* padding: 10px; */
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}


/* ✔ 완료(취소선) 상태 */
.todo_item.done {
  text-decoration: line-through;
  color: gray;
  background: #ddd;
}

/* 리스트 전체 */
.todo_list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

/* 할 일 한 줄 */
.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f3f3;
  padding: 10px 15px;
  margin-bottom: 8px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

/* 마우스 올렸을 때 */
.todo_item:hover {
  background: #e6e6ff;
}

/* 삭제 버튼 */
.del_btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #7544c7;
  cursor: pointer;
  margin-right: -20px;
}

#delete_btn {
  font-family: 'Jua', 'GangwonEduAll', 'BMJUA';
  color: #fff;
  background: #7544c7;
  border: 1px solid #7544c7;
  border-radius: 12px;
  cursor: pointer;
  padding: 8px 12px;
}


/* footer */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #666;
}